* {
  font-size: 24px;
}

h3 {
  font-weight: 400;
  font-size: 150%;
  margin: 10px 10px 20px;
}

.inventory {
  padding: 10px;
  flex-grow: 4
}

.inventory p {
  font-size: 80%;
}

.btn-primary {
  font-size: 50%;
  margin: 10px;
}

.navigate-back {
  margin: 10px;
}

.inventory{
  border: 1px solid #908fa5;
}

.rightButtonMenu {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inventory-row , .description-row {
  margin: 5px 20px;
}

.description-row {
  border-bottom: 1px solid #908fa5;
  border-bottom-width: thin;
}


.col p {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.select-amount {
  display: flex;
  min-width: 0;
  flex-direction: row;
}

input {
  display: block;
  min-width: 0;
  text-align: center;
}
