<div class="page-content">
  <p>This page is representing a fictional company with the use of static data</p>
  <hr>
</div>
<embed
  src="https://mb.orangebooks.co/embed/dashboard/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZXNvdXJjZSI6eyJkYXNoYm9hcmQiOjl9LCJwYXJhbXMiOnt9LCJleHAiOjc1OTg5Njg5ODksImlhdCI6MTU5ODk2ODk4OH0.RxiWhikJx2m3qZPB3w2-B3MbaVxiAQLw4bS3B3aRJqU"/>
<a href="https://orangebooks.co/">
  <img src="https://static1.squarespace.com/static/5b51b3f8d274cbbd1e7fce59/t/5dd53e9e3486eb7289b7530c/1574256286342/powered_by_orangebooks.png?format=750w"
       style="padding-top: 30px;"
       width="200px" alt="Powered by orangebooks.co">
</a>
