<!--this embedded url token lasts until 2022 TODO generate one that lasts longer-->
<div class="page-content">
  <p>This page is representing a fictional company with the use of static data</p>
  <hr>
</div>
<embed
  src="https://mb.orangebooks.co/embed/dashboard/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZXNvdXJjZSI6eyJkYXNoYm9hcmQiOjl9LCJwYXJhbXMiOnt9LCJleHAiOjE2NTQ4MTQ0NjIsImlhdCI6MTU5NDgxNDQ2Mn0.GGfT58UvZYE6jOlZXShfFtXeuuxKJLjfG_l_ywvcW44"/>
<a href="https://orangebooks.co/">
  <img src="https://static1.squarespace.com/static/5b51b3f8d274cbbd1e7fce59/t/5dd53e9e3486eb7289b7530c/1574256286342/powered_by_orangebooks.png?format=750w"
       style="padding-top: 30px;"
       width="200px" alt="Powered by orangebooks.co">
</a>
