.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  flex-basis: 0;
}

.amount {
  display: flex;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount-input {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 50px;
}
p {
  margin:auto
}

.amount-button-right {
  margin-right: 5px;
}

.nav-bar {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  border: #908fa5 solid 1px;
  width: 100%;
  flex-shrink: 1;
}

.btn-review-order {
  margin: 10px;
  display: block;
  float: right;
}

.btn-submit-order, .btn-back{
  margin: 10px;
}
