<mat-toolbar>
  <span>
    <a routerLink="/" matTooltip="Back to the dashboard">
      NSG Showroom
    </a>
  </span>

  <span class="fill-remaining-space"></span>

  <span class="company" [matMenuTriggerFor]="menu">
    <!-- Make this look like a link, but it shouldn't go anywhere -->
    <a href="javascript:" matTooltip="Change company">
      <mat-icon svgIcon="account-circle"></mat-icon>
      {{actingCompany.name}} ({{actingCompany.id}})
    </a>

    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <mat-icon svgIcon="information"></mat-icon>
        Currently acting as:
      </button>
      <button mat-menu-item disabled>{{actingCompany.name}}, ID {{actingCompany.id}}</button>
      <button mat-menu-item disabled>Country {{actingCompany.country}}, VAT ID {{actingCompany.vatId}}</button>
      <button mat-menu-item [matMenuTriggerFor]="companies">
        <mat-icon svgIcon="briefcase-upload"></mat-icon>
        Change company to
      </button>
      <button mat-menu-item disabled>
        <mat-icon svgIcon="briefcase-plus"></mat-icon>
        Start a new company
      </button>
    </mat-menu>

    <mat-menu #companies="matMenu">
      <button mat-menu-item *ngFor="let company of otherCompanies" (click)="changeCompanyTo(company)">
        {{company.name}} ({{company.id}})
      </button>
    </mat-menu>
  </span>

</mat-toolbar>
