mat-toolbar {
  height: 100%;
  width: 100%;
  font-size: 25px;
  font-weight: lighter;
  background: rgb(226, 93, 94);
  background: radial-gradient(circle at bottom left, rgb(226, 93, 94) 10%, rgb(32, 31, 75) 50%);
}

mat-toolbar * {
  color: white;
  text-decoration: none;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.company {
  font-size: 20px;
}
