<h1>Welcome to {{store.name}} ({{store.country}})!</h1>

<!-- This component is a mess - it should be separated into smaller child-components. -->
<div *ngIf="loading">
  <h3>Please wait while we process your order.</h3>
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading">
  <div *ngIf="!productInCart">
    <h2>Available products</h2>
    <mat-list>
      <mat-list-item
        *ngFor="let product of store.storeProductSelection;let lastProduct = last;">
        <div mat-line>
          <p style="float:left">{{product.itemName}}</p>
          <button mat-flat-button
                  style="float:right"
                  color="primary"
                  (click)="addToCart(product)">
            <mat-icon svgIcon="cart-arrow-down"></mat-icon>
            Buy now
          </button>
        </div>
        <div mat-line>
          á {{product.price}} {{store.currency}}
        </div>
        <mat-divider *ngIf="!lastProduct"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>

  <div *ngIf="productInCart" class="buy-product">
    <h2>Buy {{productInCart.itemName}} á {{productInCart.price}} €</h2>
    <div class="buy-amount">
      <label>
        Amount:
        <input type="number" min="1" [(ngModel)]="amount">
      </label>
    </div>

    <div>
      <p>Net price: {{netPrice()}} {{store.currency}}</p>
      <p>VAT: {{vatPrice()}} {{store.currency}}</p>
      <p>Total price: {{totalPrice()}} {{store.currency}}</p>
    </div>

    <div class="checkout-row">
      <button mat-raised-button color="accent" (click)="addToCart(null)">
        <mat-icon svgIcon="cart-off"></mat-icon>
        Cancel
      </button>
      <button mat-raised-button color="primary" (click)="checkout(true)">
        <mat-icon svgIcon="credit-card-outline"></mat-icon>
        Pay by card
      </button>
      <button mat-raised-button color="primary" (click)="checkout(false)">
        <mat-icon svgIcon="receipt"></mat-icon>
        Pay by invoice
      </button>
    </div>
  </div>

  <div class="back-to-stores">
    <button mat-raised-button [routerLink]="['/purchasing']">
      <mat-icon svgIcon="store"></mat-icon>
      Back to store selection
    </button>
  </div>
</div>
