* {
  margin: 0;
  padding: 0;
}
mat-list {
  max-width: 400px;
}

.back-to-stores {
  margin-top: 50px;
}

input {
  width: 30px;
}

.buy-amount {
  margin-bottom: 20px;
}

.buy-product button {
  padding: 5px;
  margin-bottom: 4px;
  margin-right: 20px;
}

.navigation-row button {
  width: 100%;
}
