<div class="inventory">
  <h3>Add purchased items to inventory</h3>
  <div class="row description-row">
    <div class="col col-sm-3">
      <p>Product</p>
    </div>
    <div class="col col-sm-2">
      <p>Amount</p>
    </div>
    <div class="col col-sm-3">
      <p>Price</p>
    </div>
    <div class="col col-sm-2">
      <p>Date</p>
    </div>
  </div>
  <div *ngFor="let i of inventory; let index = index" [classList]="index%2===0? 'row inventory-row dark-row' : 'row inventory-row light-row'"
       class="row inventory-row">
    <div class="col col-sm-3">
      <p>{{i.name}}</p>
    </div>
    <div class="col col-sm-2">
      <p>{{i.amount}}</p>
    </div>
    <div class="col col-sm-3">
      <p>{{convertToCompanyCurrency(i)}} {{companyCurrency()}}</p>
    </div>
    <div class="col col-sm-2">
      <p>{{i.date}}</p>
    </div>
    <div class="col col-sm-2">
      <button class="btn btn-primary" (click)="addProduct(i)">Add to inventory</button>
    </div>
  </div>

</div>
<button class="btn btn-outline-dark navigate-back"
        type="button"
        (click)="navigateBack()">Go back</button>
